.agent{
    padding-top: 58px;
    padding-bottom: 76px;
    background: url(../../img/agent-bg.jpg) center (center/cover) no-repeat;
    &__icon{
        text-align: center;
    }
    &__title{
        margin-top: 20px;
        text-align: center;
        color: #ffff;
        text-transform: none;
    }
    &__subtitle{
        margin-top: 22px;
        text-align: center;
        color: #ffff;
    }
}