.title{
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    &_fz26{
        text-transform: uppercase;
    }
    &_fz19{
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
    }
    &_fz21{
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        text-transform: none;
    }
}